body{
	background-image:url("imagenes/comer.jpg");}

	h1{
	text-align: center;}

	h2{
	color: brown;}

.wrapper{
	width: 450px;
	margin: 20px auto 20px auto;
	border: 2px solid red;
	background-color: white;
	height: 100px;
	text-align: center;}

#content{
	width: 350px;
	margin: 20px auto 20px auto;
	border: 2px solid red;
	background-color: white;
	height: 80px;
	text-align: center;}

.intro{
	background-color: #ffffff;
	height: 80px;
	font-size: 190%;
	text-align: center;}

#nombre{
	text-decoration: underline;}





