body {
	background-image: url("imagenes/comer.jpg");
}

h1 {
	text-align: center;
}

h2 {
	color: brown;
}
/* Modificaciones a la clase wrapper*/
.wrapper {
	width: 450px;
	margin: 20px auto 20px auto;
	border: 2px solid red;
	background-color: white;
	height: 100px;
	text-align: center;
}